### Convert class object to JSON

In [1]:
import json 

class Student: 
    def __init__(self, roll_no, name, batch): 
        self.roll_no = roll_no 
        self.name = name 
        self.batch = batch 
  
  
class Car: 
    def __init__(self, brand, name): 
        self.brand = brand 
        self.name = name 

if __name__ == "__main__": 
    
    s1 = Student("24", "Aneri", "2021") 
    s2 = Student("9", "Vatsal", "2020") 
  
    c1 = Car("Honda", "city") 
    c2 = Car("Tata", "Amaze") 
  
    jsonstr1 = json.dumps(s1.__dict__) 
    jsonstr2 = json.dumps(s2.__dict__) 
    jsonstr3 = json.dumps(c1.__dict__) 
    jsonstr4 = json.dumps(c2.__dict__) 
  
    print(jsonstr1) 
    print(jsonstr2) 
    print(jsonstr3) 
    print(jsonstr4)

{"roll_no": "24", "name": "Aneri", "batch": "2021"}
{"roll_no": "9", "name": "Vatsal", "batch": "2020"}
{"brand": "Honda", "name": "city"}
{"brand": "Tata", "name": "Amaze"}

### Convert JSON data Into a Custom Python Object

In [2]:
import json
from collections import namedtuple

data = '{"name" : "Aneri", "id" : 24, "location" : "Mumbai"}'

x = json.loads(data, object_hook =
			lambda d : namedtuple('X', d.keys())
			(*d.values()))

print(x.name, x.id, x.location)

Aneri 24 Mumbai

### Flattening JSON objects in Python

In [3]:
from flatten_json import flatten

unflat_json = {'user':
			{'Aneri':
				{'UserID': 11111111,
				'Email': 'aneridesai@gmail.com',
				'friends': ['Vatsal', 'Vraj']
				}
				}
			}

flat_json = flatten(unflat_json)

print(flat_json)

{'user_Aneri_UserID': 11111111, 'user_Aneri_Email': 'aneridesai@gmail.com', 'user_Aneri_friends_0': 'Vatsal', 'user_Aneri_friends_1': 'Vraj'}