# Pandas Basics

In [1]:
# Write a Pandas program to check inequality over the index axis of a given dataframe and a given series.

import pandas as pd

df_data = pd.DataFrame({'W':[68,75,86,80,None],'X':[78,75,None,80,86], 'Y':[84,94,89,86,86],'Z':[86,97,96,72,83]})
sr_data = pd.Series([68, 75, 86, 80, None]) 

print("Original DataFrame:")
print(df_data)

print("\nOriginal Series:")
print(sr_data)

print("\nCheck for inequality of the said series & dataframe:")
print(df_data.ne(sr_data, axis = 0))

Original DataFrame:
      W     X   Y   Z
0  68.0  78.0  84  86
1  75.0  75.0  94  97
2  86.0   NaN  89  96
3  80.0  80.0  86  72
4   NaN  86.0  86  83

Original Series:
0    68.0
1    75.0
2    86.0
3    80.0
4     NaN
dtype: float64

Check for inequality of the said series & dataframe:
       W      X     Y     Z
0  False   True  True  True
1  False  False  True  True
2  False   True  True  True
3  False  False  True  True
4   True   True  True  True

In [4]:
# Write a Pandas program to find the index of the first occurrence of the smallest and largest value of a given series.

nums = pd.Series([1, 88, 7, 12, 88, 23, 3, 0, 9, 0])

print("Index of the first occurence of the smallest value:",nums.idxmin())

print("Index of the first occurence of the largest value:",nums.idxmax())

Index of the first occurence of the smallest value: 7
Index of the first occurence of the largest value: 1

In [6]:
# Write a Pandas program to get lowest n records within each group of a given DataFrame.

d = {'col1': [1, 2, 3, 4, 7, 11], 'col2': [4, 5, 6, 9, 5, 0], 'col3': [7, 5, 8, 12, 1,11]}
df = pd.DataFrame(data=d)

print("Lowest n records within each group of a DataFrame:")
df1 = df.nsmallest(3, 'col1')
print(df1)

df2 = df.nsmallest(2, 'col2')
print("\n",df2)

df3 = df.nsmallest(4, 'col3')
print("\n",df3)

Lowest n records within each group of a DataFrame:
   col1  col2  col3
0     1     4     7
1     2     5     5
2     3     6     8

    col1  col2  col3
5    11     0    11
0     1     4     7

    col1  col2  col3
4     7     5     1
1     2     5     5
0     1     4     7
2     3     6     8

In [7]:
# Write a Pandas program to check for inequality of two given DataFrames.

df1 = pd.DataFrame({'W':[68,75,86,80,None],'X':[78,85,None,80,86], 'Y':[84,94,89,83,86],'Z':[86,97,96,72,83]})
df2 = pd.DataFrame({'W':[78,75,86,80,None],'X':[78,85,96,80,76], 'Y':[84,84,89,83,86],'Z':[86,97,96,72,83]})

print("Check for inequality of the said dataframes:")
print(df1.ne(df2))

Check for inequality of the said dataframes:
       W      X      Y      Z
0   True  False  False  False
1  False  False   True  False
2  False   True  False  False
3  False  False  False  False
4   True   True  False  False

In [13]:
# Write a Pandas program to select rows by filtering on one or more column(s) in a multi-index dataframe.

df = pd.DataFrame({
    'school_code': ['s001','s002','s003','s001','s002','s004'],
    'class': ['V', 'V', 'VI', 'VI', 'V', 'VI'],
    'name': ['Alberto Franco','Gino Mcneill','Ryan Parkes', 'Eesha Hinton', 'Gino Mcneill', 'David Parkes'],
    'date_of_birth': ['15/05/2002','17/05/2002','16/02/1999','25/09/1998','11/05/2002','15/09/1997'],
    'weight': [35, 37, 33, 30, 31, 32],
    'tcode': ['t1', 't2', 't3', 't4', 't5', 't6']})    


print("Create MultiIndex on 'tcode' and 'school_code':")
df = df.set_index(['tcode', 'school_code'])
print(df)

print("\n\nSelect rows(s) from 'tcode' column:")
print(df.query(("tcode == 't2'")))

print("\n\nSelect rows(s) from 'school_code' column:")
print(df.query("school_code == 's001'"))

print("\n\nSelect rows(s) from 'tcode' and 'scode' columns:")
print(df.query(("tcode == 't1'") and ("school_code == 's001'")))

Create MultiIndex on 'tcode' and 'school_code':
                  class            name date_of_birth  weight
tcode school_code
t1    s001            V  Alberto Franco    15/05/2002      35
t2    s002            V    Gino Mcneill    17/05/2002      37
t3    s003           VI     Ryan Parkes    16/02/1999      33
t4    s001           VI    Eesha Hinton    25/09/1998      30
t5    s002            V    Gino Mcneill    11/05/2002      31
t6    s004           VI    David Parkes    15/09/1997      32


Select rows(s) from 'tcode' column:
                  class          name date_of_birth  weight
tcode school_code
t2    s002            V  Gino Mcneill    17/05/2002      37


Select rows(s) from 'school_code' column:
                  class            name date_of_birth  weight
tcode school_code
t1    s001            V  Alberto Franco    15/05/2002      35
t4    s001           VI    Eesha Hinton    25/09/1998      30


Select rows(s) from 'tcode' and 'scode' columns:
                  class            name date_of_birth  weight
tcode school_code
t1    s001            V  Alberto Franco    15/05/2002      35
t4    s001           VI    Eesha Hinton    25/09/1998      30

In [14]:
# Write a  Pandas program to start index with different value rather than 0 in a given DataFrame.

df = pd.DataFrame({
    'school_code': ['s001','s002','s003','s001','s002','s004'],
    'class': ['V', 'V', 'VI', 'VI', 'V', 'VI'],
    'name': ['Alberto Franco','Gino Mcneill','Ryan Parkes', 'Eesha Hinton', 'Gino Mcneill', 'David Parkes'],
    'date_of_birth': ['15/05/2002','17/05/2002','16/02/1999','25/09/1998','11/05/2002','15/09/1997'],
    'weight': [35, 37, 33, 30, 31, 32]})
     
print("Original DataFrame:")
print(df)

print("\nDefault Index Range:")
print(df.index)

df.index += 10 
print("\nNew Index Range:")
print(df.index)

print("\nDataFrame with new index:")
print(df)

Original DataFrame:
  school_code class            name date_of_birth  weight
0        s001     V  Alberto Franco    15/05/2002      35
1        s002     V    Gino Mcneill    17/05/2002      37
2        s003    VI     Ryan Parkes    16/02/1999      33
3        s001    VI    Eesha Hinton    25/09/1998      30
4        s002     V    Gino Mcneill    11/05/2002      31
5        s004    VI    David Parkes    15/09/1997      32

Default Index Range:
RangeIndex(start=0, stop=6, step=1)

New Index Range:
RangeIndex(start=10, stop=16, step=1)

DataFrame with new index:
   school_code class            name date_of_birth  weight
10        s001     V  Alberto Franco    15/05/2002      35
11        s002     V    Gino Mcneill    17/05/2002      37
12        s003    VI     Ryan Parkes    16/02/1999      33
13        s001    VI    Eesha Hinton    25/09/1998      30
14        s002     V    Gino Mcneill    11/05/2002      31
15        s004    VI    David Parkes    15/09/1997      32